{% extends 'base.html' %}
{% block content %}
<h2>Editar Reserva #{{ reserva['id'] }}</h2>
<p>Cliente: {{ reserva['cliente'] }}<br>Destino: {{ reserva['cidade'] }} / {{ reserva['pais'] }}</p>

<form method="post">
  <label>Quantidade: <input name="amount" type="number" value="1"></label><br>
  <button name="action" value="increase" type="submit">Aumentar</button>
  <button name="action" value="decrease" type="submit">Diminuir</button>
  <button name="action" value="delete" type="submit" onclick="return confirm('Confirmar exclusão da reserva?')">Excluir reserva</button>
  <a href="/reservas">Cancelar</a>
</form>
{% endblock %}
